@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat-Arabic";
  src: local("Montserrat-Arabic"),
    url(../fonts/Montserrat-Arabic-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Montserrat-Arabic-Bold";
  src: local("Montserrat-Arabic-Bold"),
    url(../fonts/Montserrat-Arabic-Bold.otf) format("opentype");
}

* {
  font-family: "Montserrat-Arabic", sans-serif;
}

.bold {
  font-family: "Montserrat-Arabic-Bold", sans-serif;
}

.rtl {
  direction: rtl;
}
